{% extends "layout.html" %}
{% block data %}

<script>
    const table = document.getElementById("data-table");

    function add_row(msg) {
        row = table.insertRow(),
        cell1 = row.insertCell(0),
        cell2 = row.insertCell(1);
        cell3 = row.insertCell(2);

        cell2.id = msg.id + "dlc";
        cell3.id = msg.id + "bytes";

        cell1.innerHTML = msg.id;
        cell2.innerHTML = msg.dlc;
        cell3.innerHTML = msg.bytes;
    };


    function pause(bool) {
        if (bool == true) {
            source.close();
        }

        if (bool == false) {
            source = new EventSource('/stream');
            
            source.addEventListener('new_id', function handle_new_id(event) {
                var dict = JSON.parse(event.data);
                $("#data-table td").remove();
                for (var msg in dict) {
                    add_row(dict[msg]);
                }
            });

            source.addEventListener('update', function handle_update(event) {
                var msg = JSON.parse(event.data);
                document.getElementById(msg.id + "dlc").innerHTML = msg.dlc;
                document.getElementById(msg.id + "bytes").innerHTML = msg.bytes;
            });
        }
    }

</script>

{% endblock data %}