<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Message Viewer for use with the Python-CAN Module">
    <meta name="author" content="TJ Bruno">
    <title>CAN Viewer</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-">
                <div class="btn-group-vertical">
                    <button type="button" onclick="paused(true)" class="btn btn-outline-success">
                        Stream
                    </button>
                    <button type="button" onclick="paused(false)" class="btn btn-outline-danger">
                        Pause
                    </button>
                </div>
            </div>

            <div class="col-5">
                <table class="table table-hover" id="app-table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">DLC</th>
                            <th scope="col">Data</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% block data_table %}
                        {% endblock %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>